{% extends 'base.html.twig' %}

{% block title %}Modifier un Développeur{% endblock %}

{% block body %}
    <h1>Modifier un Développeur</h1>

    {{ include('developper/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="d-flex justify-content-between mt-3">
        <a href="{{ path('app_developper_index') }}" class="btn btn-dark">Retour à la liste</a>
        <div>
            {{ include('developper/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
