{% extends 'base.html.twig' %}

{% block title %}Modifier une Entreprise{% endblock %}

{% block body %}
    <h1>Modifier une Entreprise</h1>

    {{ include('entreprise/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="d-flex justify-content-between mt-3">
        <a href="{{ path('app_entreprise_index') }}" class="btn btn-dark">Retour à la liste</a>
        {{ include('entreprise/_delete_form.html.twig') }}
    </div>
{% endblock %}
