{% extends 'base.html.twig' %}

{% block title %}Créer une Nouvelle Entreprise{% endblock %}

{% block body %}
    <h1>Créer une Nouvelle Entreprise</h1>

    {{ include('entreprise/_form.html.twig') }}

    <a href="{{ path('app_entreprise_index') }}" class="btn btn-dark">Retour à la liste</a>
{% endblock %}
