{% extends 'base.html.twig' %}

{% block title %}Créer une Nouvelle Activité{% endblock %}

{% block body %}
    <h1>Créer une Nouvelle Activité</h1>

    {{ include('activity/_form.html.twig') }}

    <div class="d-flex justify-content-end">
        <a type="button" class="btn btn-dark" href="{{ path('app_activity_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
