{% extends 'base.html.twig' %}

{% block title %}Créer un Nouveau Supplément{% endblock %}

{% block body %}
    <h1>Créer un Nouveau Supplément</h1>

    {{ include('supplement/_form.html.twig') }}

    <a href="{{ path('app_supplement_index') }}" class="btn btn-dark">Retour à la liste</a>
{% endblock %}
