{% extends 'base.html.twig' %}

{% block title %}Créer une Nouvelle Option{% endblock %}

{% block body %}
    <h1>Créer une Nouvelle Option</h1>

    {{ include('option/_form.html.twig') }}

    <a href="{{ path('app_option_index') }}" class="btn btn-dark">Retour à la liste</a>
{% endblock %}
